In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as matlab

In [2]:
dataset=pd.read_csv("preprocessed_data.csv")
dataset

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1
...,...,...,...,...,...,...,...,...,...
4648,Bachelors,2013,Bangalore,3,26,Female,No,4,0
4649,Masters,2013,Pune,2,37,Male,No,2,1
4650,Masters,2018,New Delhi,3,27,Male,No,5,1
4651,Bachelors,2012,Bangalore,3,30,Male,Yes,2,0
4652,Bachelors,2015,Bangalore,3,33,Male,Yes,4,0

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,LeaveOrNot,Education_Masters,Education_PHD,City_New Delhi,City_Pune,Gender_Male,EverBenched_Yes
0,2017,3,34,0,0,0,0,0,0,1,0
1,2013,1,28,3,1,0,0,0,1,0,0
2,2014,3,38,2,0,0,0,1,0,0,0
3,2016,3,27,5,1,1,0,0,0,1,0
4,2017,3,24,2,1,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4648,2013,3,26,4,0,0,0,0,0,0,0
4649,2013,2,37,2,1,1,0,0,1,1,0
4650,2018,3,27,5,1,1,0,1,0,1,0
4651,2012,3,30,2,0,0,0,0,0,1,1
4652,2015,3,33,4,0,0,0,0,0,1,1

In [4]:
dataset.columns

Index(['JoiningYear', 'PaymentTier', 'Age', 'ExperienceInCurrentDomain',
       'LeaveOrNot', 'Education_Masters', 'Education_PHD', 'City_New Delhi',
       'City_Pune', 'Gender_Male', 'EverBenched_Yes'],
      dtype='object')

In [6]:
dataset["LeaveOrNot"].value_counts()

0    3053
1    1600
Name: LeaveOrNot, dtype: int64

In [7]:
independent=dataset[['JoiningYear', 'PaymentTier', 'Age', 'ExperienceInCurrentDomain',
        'Education_Masters', 'Education_PHD', 'City_New Delhi',
       'City_Pune', 'Gender_Male', 'EverBenched_Yes']]

In [8]:
independent

,JoiningYear,PaymentTier,Age,ExperienceInCurrentDomain,Education_Masters,Education_PHD,City_New Delhi,City_Pune,Gender_Male,EverBenched_Yes
0,2017,3,34,0,0,0,0,0,1,0
1,2013,1,28,3,0,0,0,1,0,0
2,2014,3,38,2,0,0,1,0,0,0
3,2016,3,27,5,1,0,0,0,1,0
4,2017,3,24,2,1,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...
4648,2013,3,26,4,0,0,0,0,0,0
4649,2013,2,37,2,1,0,0,1,1,0
4650,2018,3,27,5,1,0,1,0,1,0
4651,2012,3,30,2,0,0,0,0,1,1
4652,2015,3,33,4,0,0,0,0,1,1

In [11]:
dependent=dataset[["LeaveOrNot"]]

In [12]:
dependent

      LeaveOrNot
0              0
1              1
2              0
3              1
4              1
...          ...
4648           0
4649           1
4650           1
4651           0
4652           0

[4653 rows x 1 columns]

In [13]:
independent.shape

(4653, 10)

In [14]:
dependent.shape

(4653, 1)

In [20]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [22]:
from sklearn.model_selection import GridSearchCV

param_grid = {'criterion':['gini','entropy'],
              'max_features': ['auto','sqrt','log2'],
              'splitter':['best','random']} 



grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit = True, verbose = 3,n_jobs=1,scoring='f1_weighted') 
grid.fit(X_train, Y_train)

C:\Users\Administrator\Anaconda3\envs\aiml\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

Fitting 3 folds for each of 12 candidates, totalling 36 fits
[CV] criterion=gini, max_features=auto, splitter=best ................
[CV]  criterion=gini, max_features=auto, splitter=best, score=0.794, total=   0.2s
[CV] criterion=gini, max_features=auto, splitter=best ................
[CV]  criterion=gini, max_features=auto, splitter=best, score=0.779, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=best ................
[CV]  criterion=gini, max_features=auto, splitter=best, score=0.788, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=random ..............
[CV]  criterion=gini, max_features=auto, splitter=random, score=0.764, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=random ..............
[CV]  criterion=gini, max_features=auto, splitter=random, score=0.768, total=   0.0s
[CV] criterion=gini, max_features=auto, splitter=random ..............
[CV]  criterion=gini, max_features=auto, splitter=random, score=0.776, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=best ................
[CV]  criterion=gini, max_features=sqrt, splitter=best, score=0.805, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=best ................
[CV]  criterion=gini, max_features=sqrt, splitter=best, score=0.787, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=best ................
[CV]  criterion=gini, max_features=sqrt, splitter=best, score=0.774, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=random ..............
[CV]  criterion=gini, max_features=sqrt, splitter=random, score=0.801, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=random ..............
[CV]  criterion=gini, max_features=sqrt, splitter=random, score=0.766, total=   0.0s
[CV] criterion=gini, max_features=sqrt, splitter=random ..............
[CV]  criterion=gini, max_features=sqrt, splitter=random, score=0.759, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=best ................
[CV]  criterion=gini, max_features=log2, splitter=best, score=0.804, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=best ................
[CV]  criterion=gini, max_features=log2, splitter=best, score=0.786, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=best ................
[CV]  criterion=gini, max_features=log2, splitter=best, score=0.782, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=random ..............
[CV]  criterion=gini, max_features=log2, splitter=random, score=0.789, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=random ..............
[CV]  criterion=gini, max_features=log2, splitter=random, score=0.788, total=   0.0s
[CV] criterion=gini, max_features=log2, splitter=random ..............
[CV]  criterion=gini, max_features=log2, splitter=random, score=0.741, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=best .............
[CV]  criterion=entropy, max_features=auto, splitter=best, score=0.789, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=best .............
[CV]  criterion=entropy, max_features=auto, splitter=best, score=0.786, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=best .............
[CV]  criterion=entropy, max_features=auto, splitter=best, score=0.780, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=random ...........
[CV]  criterion=entropy, max_features=auto, splitter=random, score=0.785, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=random ...........
[CV]  criterion=entropy, max_features=auto, splitter=random, score=0.784, total=   0.0s
[CV] criterion=entropy, max_features=auto, splitter=random ...........
[CV]  criterion=entropy, max_features=auto, splitter=random, score=0.772, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=best .............
[CV]  criterion=entropy, max_features=sqrt, splitter=best, score=0.795, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=best .............
[CV]  criterion=entropy, max_features=sqrt, splitter=best, score=0.795, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=best .............
[CV]  criterion=entropy, max_features=sqrt, splitter=best, score=0.758, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=random ...........
[CV]  criterion=entropy, max_features=sqrt, splitter=random, score=0.785, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=random ...........
[CV]  criterion=entropy, max_features=sqrt, splitter=random, score=0.791, total=   0.0s
[CV] criterion=entropy, max_features=sqrt, splitter=random ...........
[CV]  criterion=entropy, max_features=sqrt, splitter=random, score=0.777, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=best .............
[CV]  criterion=entropy, max_features=log2, splitter=best, score=0.808, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=best .............
[CV]  criterion=entropy, max_features=log2, splitter=best, score=0.778, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=best .............
[CV]  criterion=entropy, max_features=log2, splitter=best, score=0.780, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=random ...........
[CV]  criterion=entropy, max_features=log2, splitter=random, score=0.765, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=random ...........
[CV]  criterion=entropy, max_features=log2, splitter=random, score=0.761, total=   0.0s
[CV] criterion=entropy, max_features=log2, splitter=random ...........
[CV]  criterion=entropy, max_features=log2, splitter=random, score=0.770, total=   0.0s

[Parallel(n_jobs=1)]: Done  31 tasks      | elapsed:    0.5s

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeClassifier(class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort=False, random_state=None,
                                              splitter='best'),
             iid='warn', n_jobs=1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1_weighted', verbose=3)

In [24]:
from sklearn.tree import DecisionTreeClassifier
classifier=DecisionTreeClassifier(criterion='entropy',random_state=0)
classifier.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [26]:
re=grid.cv_results_
grid_predictions = grid.predict(X_test) 
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, grid_predictions)

In [28]:
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test, grid_predictions)

In [29]:
print(grid.best_params_)

{'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}

In [30]:
table=pd.DataFrame.from_dict(re)

In [31]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.022352,1.888707e-02,0.037639,4.756912e-02,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.794033,0.779497,0.788246,0.787261,0.005976,4
1,0.008332,4.721009e-04,0.004735,3.771862e-04,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.764201,0.767986,0.775541,0.769239,0.004713,11
2,0.012331,4.191503e-03,0.010335,6.182676e-03,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.804931,0.786621,0.774055,0.788546,0.012678,3
3,0.009999,7.370010e-07,0.004726,3.884836e-04,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.801477,0.765957,0.759045,0.775507,0.018592,9
4,0.008666,4.716518e-04,0.005001,7.018853e-07,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.804169,0.785909,0.781820,0.790640,0.009718,1
5,0.008332,4.707522e-04,0.004668,4.709218e-04,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.788849,0.788458,0.741283,0.772879,0.022326,10
6,0.010334,1.247216e-03,0.005002,8.147831e-04,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.788805,0.786203,0.779623,0.784880,0.003863,5
7,0.010332,1.886718e-03,0.004669,4.719453e-04,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.784890,0.783780,0.772286,0.780323,0.005697,8
8,0.009328,4.678863e-04,0.004336,4.717642e-04,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.795363,0.795228,0.758485,0.783037,0.017348,7
9,0.008665,4.712018e-04,0.004334,4.715392e-04,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.784586,0.791413,0.776536,0.784181,0.006079,6
10,0.009057,8.446503e-05,0.005003,1.072147e-06,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.807925,0.778312,0.779573,0.788612,0.013676,2
11,0.009998,2.160421e-03,0.005336,1.247405e-03,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.764886,0.760584,0.769536,0.765001,0.003654,12

In [32]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'gini', 'max_features': 'log2', 'splitter': 'best'}: 0.7897159691532724

In [33]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[901 125]
 [195 330]]

In [34]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.82      0.88      0.85      1026
           1       0.73      0.63      0.67       525

    accuracy                           0.79      1551
   macro avg       0.77      0.75      0.76      1551
weighted avg       0.79      0.79      0.79      1551

In [35]:
from sklearn.metrics import roc_auc_score

roc_auc_score(Y_test,grid.predict_proba(X_test)[:,1])

0.7705318852687274